<!-- src/main/resources/templates/login.html (Thymeleaf 사용 예시) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp Page</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="module">
        import Signup from '/js/auth/SignUp.js';

        document.addEventListener('DOMContentLoaded', () => {
            new Signup();
        });
    </script>
</head>
<body>
    <!-- 헤더 영역 -->
    <header>
        <div class="header-container">
            <a th:href="@{/}" class="main-link">My Website</a>
        </div>
    </header>

    <div class="login-container" id="loginArea">
    <!--<form action="/login" method="post">-->
        <h2>회원가입</h2>
        <div class="login-form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required placeholder="Enter your username">
        </div>
        <div class="login-form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Enter your password">
        </div>
        <button class="signup-btn">Sign Up</button>
    <!--</form>-->
    </div>
</body>
</html>
